/* import de webfonts - Google fonts */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
/* 
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    font-weight: 400;
    font-weight: 700;
*/

:root {
    /* Colors */
    --black: #000;
    --white: #fff;
    /* font sizes */
    --small: 22px;
    --medium: 70px;
    --big: 89px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

#triangle-topright {
    top: 0;
    width: 0;
    right: 0;
    height: 0;
    border-top: 90vh solid var(--black);
    border-left: 60vw solid transparent;
    position: absolute;
    z-index: 0;
}

h1 {
    font-style: normal;
    font-weight: bold;
}

.main-title {
    padding: var(--medium);
    margin-bottom: 21vh;
}

.big-title {
    font-size: var(--big);
    line-height: normal;
    margin-top: -27px;
}

.sub-title {
    font-size: var(--small);
    line-height: normal;
    color: var(--black);
}

.offset-right {
    padding: 72px 0 0 0;
    position: absolute;
    margin: 23px 0 0 -134px;
}

.user {
    width: 200px;
    margin-left: 87px;
}

.git-svg {
    position: absolute;
    right: 10vw;
    top: 10vh;
    z-index: 1;
}

.git-svg path {
    fill: var(--white);
}

img .dev {
    width: 198px;
    border-radius: 100%;
}

.devs {
    width: 500px;
    display: inline-flex;
}

.name {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: var(--black);
}

@media screen and (min-width:200px) and (max-width:1052px) {
    .main-title {
        margin: 0;
        padding: 10vw;
        font-size: 15px;
    }
    .git-svg {
        display: none;
    }
    .offset-right {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #triangle-topright {
        display: none;
    }
    .devs {
        display: block;
        width: auto;
    }
    .user {
        margin: auto;
    }
}